<small>
<em>Jun. 11 - Oct. 17, 2026</em>&ensp;✿&ensp;End of Signal at <a href="https://onkaos.com/cezar-mocan-presents-end-of-signal-winner-of-the-solo-ai-25-award/" target="_blank">Onkaos | SOLO Contemporary</a> ✿ <em>Madrid, Spain (Solo Show)</em> <br/>
<em>Aug. 18 - Aug. 29, 2026</em>&ensp;✿&ensp;<a href="https://www.nouvellebug.com/" target="_blank">Nouvelle Bug</a> Residency ✿ <em>Revine Lago, Italy (Residency)</em> <br/>
<em>Sep. 5 - Sep. 13, 2026</em>&ensp;✿&ensp;End of Signal at <a href="https://www.hallen.art/" target="_blank">Hallen Kunstfest</a> ✿ <em>Berlin, Germany (Group Show)</em><br/>
<em>Sep. 5 - Sep. 13, 2026</em>&ensp;✿&ensp;Searching For (Bradley Land) at <a href="https://eccv.ecva.net/Conferences/2026" target="_blank">European Conference on Computer Vision</a>, Art Track ✿ <em>Malmo, Sweden (Group Show)</em><br/>
<em>Nov. 6 - Nov. 22, 2026</em>&ensp;✿&ensp;End of Signal at <a href="https://betafestival.ie/" target="_blank">Beta Festival</a> ✿ <em>Dublin, Ireland (Group Show)</em><br/>
</small>
<br/>❊<br/>