.blog-title {
    margin-top: -10px;
    font-size: 24pt;
}

.blog-container {
    width: 66%;
}

.blog-post-listing-container {
    margin-bottom: 25px;
}

.blog-post-listing-excerpt {
    margin-top: 15px;
}

.blog-post-container {

}

.blog-post-content {
    margin-top: 15px;
}