/* Stylez */
@font-face {
  font-family: NeueHaasUnica;
  src: url("NeueHaasUnicaPro-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: NeueHaasUnicaBold;
  font-weight: normal;
  src: url("NeueHaasUnicaPro-Bold.ttf") format("truetype");
}


@font-face {
  font-family: AkkuratMono;
  font-weight: normal;
  src: url("Akkurat-Mono.ttf") format("truetype");
}

html {
  /* Theme #1 */
  /*
  --main-bg-color: black;
  --main-fg-color: #BFBDBD;
  --main-highlight-color: #FFFF00;
  */

  /* Theme #2 */
  --main-bg-color: #F5F5F5;
  --main-fg-color: #121212;
  --main-highlight-color: #FFFF00;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-fg-color);
  font-family: NeueHaasUnica;
  margin: 0;
}

a {
  color: var(--main-fg-color);
  transition: color 0.25s ease-in-out;
}

a.no-underline {
  text-decoration: none;
}

a:hover {
  color: var(--main-highlight-color);
}

.small-paragraph {
  font-size: 13pt;
  margin-top: 5px;
}

.content-container {
  margin-top: 60px;
}

.header-container {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--main-fg-color);
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: var(--main-bg-color);
  z-index: 101;
  top: 0;
}

.header-section-left {
  display: flex;
  flex-direction: row;
}

.header-section {
  margin: 10px 0;
  padding: 0 10px;
}

.header-section p {
  margin-top: 0;
}

.header-section.name {
  border-right: 1px solid var(--main-fg-color);
  padding-right: 40px;
}

.header-section.email {
  border-right: 1px solid var(--main-fg-color);
  padding-right: 40px;
  padding-left: 40px;
}

.header-section.dots {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-right: 1px solid var(--main-fg-color);
  padding-right: 40px;
  padding-left: 40px;
}

.footer {
  padding: 10px 14px;
  font-size: 10pt;
  line-height: 1.15;
}

.dot {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: var(--main-fg-color);
  margin: 0 10px;
  transition: background-color 0.25s ease-in-out;
}
.dot:hover {
  background-color: var(--main-highlight-color);
}

p {
  font-size: 16pt;
  margin: 1px 0;
  margin-bottom: 3px;
  line-height: 1.28;
}

.intro-container {
  margin: 25px 300px 100px 10px;
  position: relative;
  z-index: 10;
}

.intro-container.no-margin-bottom {
  margin-bottom: 0;
}

.new-projects-container {
  width: 100%;
  margin-bottom: 100px;
  position: relative;
  z-index: 1;
}

.project-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--main-fg-color);
  padding: 10px 10px;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

.project-row-header {
  position: fixed;
  width: 100%;
  top: 50px;
  background-color: var(--main-bg-color);
  z-index: 100;
}

.project-row.interactive:hover {
  background-color: var(--main-highlight-color);
  color: darkblue;
  cursor: pointer;
}

.project-row.header p {
  font-size: 12pt;
}

.project-column.title {
  flex: 3;
}

.project-column.year {
  flex: 1;
}

.project-column.client {
  flex: 2.5;
}

.project-column.medium {
  flex: 2;
}

.project-column.border {
  border-right: 1px solid var(--main-fg-color);
}

.project-column.margin {
  margin-right: 10px;
}

.project-column.go-back {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4px;
}

.project-column.go-back p {
  transform: translateY(-7px);
  margin-right: 15px;
  font-size: 50px;
  line-height: 0;
}

.project-thumbnail {
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: opacity 0.25s ease-in-out;  
  height: 80vh;
  width: auto;
  z-index: -1;
  pointer-events: none;
  filter: blur(35px);
  /* border: 4px dashed yellow; */
}

.project-image {
  max-width: 100%;
  width: 100%;
  height: auto;
  max-height: 100vh;
  object-fit: contain;
  object-position: left;
}

.project-row.interactive:hover .project-thumbnail {
  opacity: 0.93;
}

.description-container {
  margin: 0px 60px 75px 87px;
  width: 850px;
  min-width: 850px;
  position: relative;
}

.description-inner-container {
  position: relative;
  max-width: 850px;
}

.media-container {
  margin-left: 50px;
  margin-right: 20px;
  width: calc(100% - 120px);
  padding: 0 40px;
}

.project-content-container {
  margin-bottom: 75px;
  margin-top: 130px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media only screen and (max-width: 1900px) {
  .description-container {
    width: 700px;
    min-width: 700px;
    margin-right: 20px;
  }
  .description-inner-container {   
    max-width: 700px;
  }  
  .media-container {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 1600px) {
  .project-content-container {
    flex-direction: column;
  }
  .description-container {
    width: auto;
    min-width: auto;
    max-width: 850px;
  }
  .description-inner-container {
    position: relative;
    max-width: 100%;
  }  
}

@media only screen and (max-width: 900px) {
  p {
    font-size: 18pt;
  }
  .intro-container {
    margin-right: 10px;
  }
  .header-section.dots {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 600px) {
  p {
    font-size: 12pt;
  }
  .header-section.dots {
    padding-left: 2px;
    padding-right: 2px;
  }
  .dot {
    width: 18px;
    height: 18px;
    margin: 0 8px;
  }
  .header-section.email {
    padding-left: 10px;
    padding-right: 0px;
  }
  .header-section.name {
    padding-right: 10px;
  }
}

@media only screen and (max-width: 400px) {
  p {
    font-size: 10pt;
  }
  .header-section.dots {
    display: none;
  }
}