---
layout: default-new
---
<div class="intro-container">
  <p>
    I am an artist and programmer, born in Romania and working in Brooklyn. My work engages with technology usage patterns and the creation of humane digital environments using 3D rendering, video and the web.
    <br/><br/>
    Besides my personal work, I often design or build software for artists and teach. I am currently pursuing an M.P.S. in Interactive Telecommunications at NYU ITP.
    <br/><br/>
    In a former life, I used to do competitive programming.
    <br/><br/>
    If you want to get in touch, <a href="mailto:c@cezar.io">drop me a line.</a>
    <br/><br/><br/><br/>
    Artist Statement
    <br/><br/>
    I am a Romanian new media artist based in Brooklyn, working with video, installation and software as a means of understanding and recontextualizing the spaces between humans and computers. The work I do involves the creation of humane digital environments that juxtapose elements native to our computers with organic entities rooted in the physical reality. My practice at large raises questions around existing patterns of engaging with technology and proposes slower, more intimate alternatives. In these pursuits, I am inspired by Mikka Rottenberg and Olia Lialina, whose video and web based work engages with identity and representation through elements of ritual and fiction. 
    <br/><br/>
    In my process I often refer back to algorithms and data structures, which I developed a close relationship with throughout years of practicing competitive programming and working in the software industry. What had initially started as a technical pursuit, with efficiency as the only goal, slowly became grounded in reality and acquired an increasing human dimension. I find joy in bringing entities which are infinitely scalable and replicable into a personal realm.
    <br/><br/>
    The work I do is also influenced by my experience as an immigrant in the United States. I am interested in the implications of being part of a diaspora from a social and cultural point of view, as well as understanding how geographical displacement influences digital identity.

  </p>
</div>