---
layout: default-new
---
<div class="project-row project-row-header">
  <div class="project-column go-back border margin">
    {% if page.isClientWork %}
      <a class="no-underline" href="/client-work"><p>←</p></a>
    {% else %}
      <a class="no-underline" href="/"><p>←</p></a>
    {% endif %}
  </div>
  <div class="project-column title border margin"><p>{{ page.title }}</p></div>
  <div class="project-column year border margin"><p>{% if page.year %}{{ page.year }}{% endif %}</p></div>
  {% if page.client %}<div class="project-column client border margin"><p>{{ page.client }}</p></div>{% endif %}
  <div class="project-column medium"><p>{% if page.medium %}{{ page.medium }}{% endif %}</p></div>
</div>

<div class="project-content-container">

  {% if page.paragraphs %}
  <div class="description-container">      
    {% for paragraph in page.paragraphs %}
      <div class="project-page-description">
        {% if paragraph.small %}
          <p class="small-paragraph">{{ paragraph.text }}</p>
        {% else %}
          <p class="">{{ paragraph.text }}</p>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  {% endif %}
  
  <div class="media-container">
    {% for image in page.images %}
      <div class="project-image-with-description">
        {% if image.video %}
          <video width="100%" autoplay loop muted class="c12">
            <source src="{{image.url}}">
          </video>
        {% elsif image.vimeo %}
          <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="{{image.url}}" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>        
        {% elsif image.youtube %}
          <div class="mb2" style="padding:50% 0 0 0;position:relative;">
            <iframe src="{{image.url}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%; background-color: yellow;" allowfullscreen></iframe>
          </div>
        {% else %}
          <img src="{{image.url}}" class="project-image"/>
        {% endif %}
        {% if image.description %}
          <p class="project-image-description small-paragraph mt0 mb2 c8">{{image.description}}</p>
        {% else %}
          <div class="mb2"></div>
        {% endif %}
      </div>
    {% endfor %}
  </div>

</div>

{{ content }}

{% if page.isClientWork %}
<script>
  // Get the root element
  var r = document.querySelector("html")
  r.style.setProperty("--main-bg-color", "#070707")
  r.style.setProperty("--main-fg-color", "#f5f5f5")
</script>
{% endif %}